* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
  background-color: tomato;
  border-radius: 10px;


  
}
button{
  width: 30px;
  border: none;
}
